<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <form action="/brands/models/create" method="POST">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col small">
                            Свойства записи
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="title" class="form-label small">Наименование</label>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-4">
                                    <input type="text" class="form-control form-control-sm" 
                                        value="{{ brand.title }}" readonly />
                                    <span class="fs-75 text-muted fst-italic">Марка</span>    
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" 
                                    id="title" name="title" />
                                    <span class="fs-75 text-muted fst-italic">Не менее 3 символов</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="cylinders" class="form-label small">Цилиндров</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="cylinders" name="cylinders" 
                                class="form-control form-control-sm number" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="horsepower" class="form-label small">Лошадиных сил</label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="horsepower" name="horsepower" 
                                class="form-control form-control-sm number" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="miles_per_gallon" class="form-label small">
                                Расход топлива
                            </label>
                        </div>
                        <div class="col-3">
                            <input type="text" id="miles_per_gallon" name="miles_per_gallon" 
                                class="form-control form-control-sm number" />
                        </div>
                        <div class="col fs-75 text-muted fst-italic pt-1">
                            Миль на Галлон
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/brands/{{ brand.id}}/models" class="btn btn-sm btn-primary">
                        <i class="bi bi-arrow-left-square"></i> Отмена
                    </a>
                    <button type="submit" id="button-submit" class="btn btn-sm btn-primary" disabled>
                        <i class="bi bi-save2"></i> Записать
                    </button>
                </div>
                <input type="hidden" name="brand_id" value="{{ brand.id }}" />
            </form>
        </div>
    </div>
</div>