<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <form action="/participants/create" method="POST">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col small">
                            Свойства записи
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-3">
                             <label for="full_name" class="form-label small">Полное имя</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" id="full_name" name="full_name" />
                            <span class="fs-75 text-muted fst-italic">Не менее 3 символов</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/participants" class="btn btn-sm btn-primary">
                        <i class="bi bi-arrow-left-square"></i> Отмена
                    </a>
                    <button type="submit" id="button-submit" class="btn btn-sm btn-primary" disabled>
                        <i class="bi bi-save2"></i> Записать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>