<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <form action="/origins/create" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Наименование <span class="small text-secondary">(не менее 3 символов)</span></label>
                <input type="text" id="title" name="title" 
                    class="form-control form-control-sm" />
            </div>
            <div class="d-flex justify-content-between">
                <a href="/origins" class="btn btn-sm btn-danger">
                    <i class="bi bi-arrow-left-square"></i> Отмена
                </a>
                <button type="submit" id="button-submit" class="btn btn-sm btn-success" disabled>
                     <i class="bi bi-save2"></i> Записать
                </button>
            </div>
        </form>
    </div>
</div>
