<div class="row mb-3">
    <div>
        <a href="/origins/create" class="btn btn-sm btn-primary {{#unless access}}disabled{{/unless}}">
            <i class="bi bi-plus-square"></i> Создать
        </a>
    </div>
</div>
{{#if origins}} 
<table class="table table-bordered table-sm table-striped table-hover border">
    <tr>
        <th scope="col" class="col-1 text-end">ID</th>
        <th scope="col" class="text-start">Наименование</th>
        <th scope="col" class="col-1 text-center">Действия</th>
    </tr>
    {{#each origins}}
    {{#with this.dataValues}}
    <tr>
        <td class="text-end">{{ id }}</td>
        <td>{{ title }}</td>
        <td class="text-center">
            <a href="/origins/{{ id }}/edit" class="{{#unless ../../access}}disabled{{/unless}}"> 
                <i class="bi bi-pen-fill"></i> Правка
            </a>
        </td>  
    </tr>
    {{/with}}
{{/each}}
</table>
{{/if }}
