<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Вход</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col col-lg-3 p-5 bg-light">
            <p class="text-center h3">
                <i class="bi bi-car-front"></i>
            </p>
            <form action="/login" method="POST">
                <input type="text" class="form-control form-control-sm mb-2 border border-secondary" 
                    name="username" placeholder="Имя" value="admin">
                <input type="password" class="form-control form-control-sm mb-3 border border-secondary" 
                    name="password" placeholder="Пароль" value="admin">
                <div class="d-flex justify-content-md-center">
                    <button type="submit" class="btn btn-dark btn-sm py-1 w-100 border border-dark border-3">
                        <i class="bi bi-key-fill"></i> Вход
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
